<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
        	<%= link_to "up your sleeve", root_path, id: "logo" %>

          	<nav>
	            <ul class="nav pull-right">
	            	<li><%= link_to "Home", root_path %></li>
                    <li><a href="http://ricknil.mooo.com"> WeWiki </a> </li>

                    <!-- <li>
                        <% if mobile_device? %>
                            <%= link_to "Normal Site", :mobile => 0 %>
                        <% else %>
                            <%= link_to "Mobile Site", :mobile => 1 %>
                        <% end %>
                    </li> -->

                    <li><%= link_to "Projects", projects_path %></li>

	            </ul>
          	</nav>

        </div>
      </div>
</header>
